<div class="head">{{user.lastName}} {{user.firstName}}</div>
<p class="discipline">Математика</p>
<table class="iksweb">
	<tbody>
		<tr class="header">
			<td class="num" rowspan="2">№ п/п</td>
			<td id="date" rowspan="2">Дата</td>
			<td id="text-verti" rowspan="2">Время проведения занятий</td>
			<td id="group" rowspan="2">Курс, группа</td>
			<td id="large" rowspan="2">Содержание работы</td>
			<td class="ali-cen" colspan="12">Выполнено часов</td>
		</tr>
		<tr class="text-vertical">
			<td>Лекции</td>
			<td>Практические, сем. занятия</td>
			<td>Практич. занятия оф-лайн</td>
			<td>Лабораторные работы</td>
			<td>КУСР</td>
			<td>Контрольн. работы</td>
			<td>Текущие консультации</td>
			<td>Индивидуальные консультации</td>
			<td>Тест</td>
			<td>Экзам. консультации</td>
			<td>Экзамен</td>
			<td>Зачет</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
